TENANT_SERVICE_URL=http://localhost:3002
AUTH_SERVICE_URL=http://localhost:3001
EMPLOYEE_SERVICE_URL=http://localhost:3003
LEAVE_SERVICE_URL=http://localhost:3004
NOTIFICATIONS_SERVICE_URL=http://localhost:3005
INTERNAL_SERVICE_SECRET=dev-internal-secret
PORT=3000
